.title {
  width: 100px;
  height: 30px;
  text-align: center;
  background-color:gainsboro;
}

.resetButton {
  cursor: pointer;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: green;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 2px solid black;
}

.stone {
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
}

.candidate {
  cursor: pointer;
  background-color: #ff7f32;
}